body {
    width: 1000px;
    height: 500px;
    background: rgb(0, 255, 42);
    font-size: 300%;
    font-style: italic;
    margin-left: 200px;
}
body:hover table {
    width: 200px;
    height: 200px;
    background: rgb(223, 9, 194);
    font-size: 100%;
    font-style: italic;
    margin-left: 200px;
} 